@font-face {
  font-family: Barlow;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/barlow-v12-latin-regular.woff2") format("woff2"), url("../fonts/barlow-v12-latin-regular.woff") format("woff");
}

@font-face {
  font-family: Barlow;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/barlow-v12-latin-700.woff2") format("woff2"), url("../fonts/barlow-v12-latin-700.woff") format("woff");
}

@font-face {
  font-family: Fraunces;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/fraunces-v22-latin-regular.woff2") format("woff2"), url("../fonts/fraunces-v22-latin-regular.woff") format("woff");
}

@font-face {
  font-family: Fraunces;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/fraunces-v22-latin-900.woff2") format("woff2"), url("../fonts/fraunces-v22-latin-900.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style-type: none;
}

.container {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 43px;
  margin-bottom: 43px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__container .header__logo-link {
  text-decoration: none;
}

.header__container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.header__container .navbar .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header__container .navbar .nav-list .nav-item-link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Barlow';
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
}

.header__container .navbar .nav-list .nav-item {
  margin-right: 40px;
}

.header__container .navbar .nav-list .nav-item:last-child {
  margin-right: 0;
}

.hero__container {
  background-image: url("./../img/about-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  margin-bottom: 168px;
}

.hero__container .hero__heading {
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
  margin-bottom: 24px;
  margin-left: 85px;
  padding-top: 147px;
}

.hero__container .hero__text {
  font-family: 'Barlow';
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  margin-left: 85px;
  width: 445px;
  padding-bottom: 137px;
}

.commitment__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 168px;
}

.commitment__container .commitment__img {
  width: 445px;
  height: 520px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: 85px;
}

.commitment__container .commitment__text-wrapper {
  width: 540px;
  margin-right: 85px;
}

.commitment__container .commitment__text-wrapper .commitment__heading {
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #333D4B;
  margin-bottom: 32px;
}

.commitment__container .commitment__text-wrapper .commitment__text {
  font-family: 'Barlow';
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.qual__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1280px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #333D4B;
  border-radius: 10px;
  margin-bottom: 168px;
}

.qual__container .qual__text-wrapper {
  width: 540px;
  margin-left: 85px;
  padding-bottom: 176px;
  padding-top: 88px;
}

.qual__container .qual__text-wrapper .qual__heading {
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
  margin-bottom: 32px;
}

.qual__container .qual__text-wrapper .qual__text {
  font-family: 'Barlow';
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.qual__container .qual__img-wrapper {
  position: absolute;
  -webkit-transform: translateX(150%) translateY(-10%);
          transform: translateX(150%) translateY(-10%);
}

.qual__container .qual__img-wrapper .qual__img {
  border-radius: 10px;
  width: 445px;
  height: 474px;
  -o-object-fit: contain;
     object-fit: contain;
}

.headq__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 168px;
}

.headq__container .headq__heading {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  margin-bottom: 72px;
  margin-left: 85px;
}

.headq__container .headq__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 85px;
}

.headq__container .headq__list .headq__item {
  width: 285px;
  margin-right: 85px;
}

.headq__container .headq__list .headq__item .headq__item-heading {
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
  margin-bottom: 24px;
}

.headq__container .headq__list .headq__item .headq__item-text {
  font-family: 'Barlow';
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}

.headq__container .headq__list .headq__item::before {
  content: "";
  display: inline-block;
  width: 49px;
  height: 51px;
  margin-bottom: 10px;
  background-image: url("./../img/great-britain.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 49px 51px;
}

.headq__container .headq__list .headq__item:nth-child(2)::before {
  background-image: url("./../img/canada.svg");
}

.headq__container .headq__list .headq__item:nth-child(3)::before {
  background-image: url("./../img/australia.svg");
}

.footer__container {
  background-color: #333D4B;
  padding: 47px 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 86px;
}

.footer__container .footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 622px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__container .footer__left .footer__left-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 283px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__container .footer__left .footer__left-list .footer__inner-link {
  text-decoration: none;
  font-family: 'Barlow';
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
}

.footer__container .footer__right-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=about.css.map */